*{padding:0px;margin:0px;}
body{margin:0px;padding:0px;color: #003366;background:#E7F1F8;font-size:9pt;}
img {border: none; vertical-align: middle;}
a:link{color:#003366;text-decoration: none;}
a:hover{color:#003366;text-decoration: none;}
a:visited{color:#003366;text-decoration: none;}
#body{border-left:1px #b8d1e2 solid;border-right:1px #b8d1e2 solid;height:100%;overflow:hidden;}
.toolBar{width:180;height:30px;font-size:10pt;font-weight:bold;text-align:center;overflow:hidden;}
.toolBar a{display:block;height:30px;background:url('big_btn_bg.png');padding-top:6px;}
.toolBar a:hover{background-position:0px -38px;}
.nmBtn{width:90px;float:left;}
.wmBtn{width:90px;float:left;border-left:1px #b8d1e2 solid;}

.header{background:url('title_bg.png');padding-top:14px;padding-left:3px;border-bottom:1px #b8d1e2 solid;}
.header a{padding-left:8px;padding-top:3px;background:url('ar.gif') no-repeat;}
.header a:hover{text-decoration: underline;}
#folder{padding-top:10px;}
#custom_folder{overflow-y:auto;}
ul {list-style: none;margin-left:3px;margin-right:3px;}
li a{display:block;line-height:25px;padding-left:10px;}
li a:hover{border:1px #b8d1e2 solid;background:#F6F9FD;}
a.op{display:inline;position:absolute;top:182px;right:8px;text-decoration: underline;}
a.op:hover{text-decoration: underline;}