.ux-lovcombo-icon {      
    width:16px;      
    height:16px;      
    float:left;      
    background-position: -1px -1px ! important;      
    background-repeat:no-repeat ! important;      
}

.ux-lovcombo-icon-checked {        
    background: transparent url(../images/default/menu/checked.gif);        
}        
.ux-lovcombo-icon-unchecked {        
    background: transparent url(../images/default/menu/unchecked.gif);        
}

.ux-lovcombo-item-text {
    position:absolute;
    left:16px;
    top:3px;
}
.ux-lovcombo-icon {
    float:none;
}
.x-combo-list-item {
    position:relative;
}
